/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';
@import 'swiper/css/keyboard';

.components-panel__body {
	.lds_message {
		margin-block-end: 15px;
		padding: 10px;
		border-radius: 4px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #f2f2f2;

		&.red {
			color: rgb(210, 50, 50);
		}

		&.orange {
			color: #9b7c44;
		}

		&.green {
			color: rgb(76, 120, 76);
		}

		&.blue {
			color: rgb(76, 76, 156);
		}
	}

	.ide_button {
		background: none;
		border: none;
		cursor: pointer;
		font-size: 16px;
		padding: 0 5px;
	}
}

.api-post-slider {
	padding-block: 50px;
	color: #222;

	.api-post-title {
		font-weight: 500;
		font-family: sans-serif;
		margin-block-start: 0;
	}

	.swiper {
		padding-block-end: 50px;
		// padding-inline: 10px;

		.swiper-slide {
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.post-thumb {
				width: 100%;
				aspect-ratio: 12/8;
				overflow: hidden;
				border-radius: 10px;
				scale: .95;
				border: 1px solid #ddd;

				img {
					min-width: 100%;
					min-height: 100%;
					scale: 1;
					transition: all 0.5s;
				}

				a {
					flex: 1;
					height: 100%;
				}
			}


			.post-content {
				flex: 1;
				transition: all 0.3s;
				background-color: #fff;
				border-radius: 10px;
				margin-top: -50px;
				position: relative;
				z-index: 9;
				margin-inline: 30px;
				box-shadow: 0 0 16px -5px rgba(0, 0, 0, 0.5);
				padding-inline: 20px;
				padding-block: 20px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;

				a {
					text-decoration: unset;

					&:hover {
						text-decoration: underline;
					}
				}

				h4 {
					padding-block: 10px;
					font-size: 16px;
					font-weight: 500;
					font-family: sans-serif;
				}

				p {
					font-size: 14px;
					font-weight: 300;
				}

				h4,
				p {
					margin: 0;
				}

				span.date {
					opacity: 1;
				}

				.post-meta {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding-block: 0;

					span {
						font-size: 12px;
						font-weight: 300;
						color: #777;
					}
				}
			}


			&:hover {
				.post-content {
					box-shadow: 0 0 16px -3px rgba(0, 0, 0, 0.5);
				}

				.post-thumb {
					img {
						opacity: 0.8;
						scale: 1.05;
					}
				}
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			background-color: rgba(0, 0, 0, 0.5);
			color: #fff;
			border-radius: 50%;
			width: 50px;
			height: 50px;

			&::after {
				font-size: 20px;
			}
		}
	}
}


.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-ripple div {
	position: absolute;
	border: 4px solid #222;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}

@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}

	4.9% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}

	5% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}

	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}
